.pokedex-detail {
	max-width: 600px;
	margin: 3rem auto;
	padding: 1rem;
	border: 8px solid red;
	box-shadow:
		0 0 0 6px white,
		8px 8px 0 0 black;
	background-color: #fff;
	background-size: contain;
	image-rendering: pixelated;

	.pokedex-header {
		background: red;
		color: white;
		padding: 0.25rem;
		text-align: center;
		border-bottom: 3px solid black;
		font-size: 8px;
	}

	.pokedex-main {
		display: flex;
		justify-content: space-around;
		padding: 0.5rem;

		.sprite-box img {
			width: 160px;
			height: 160px;
			image-rendering: pixelated;
		}

		.info-box {
			padding-left: 0.5rem;
			font-size: 14px;
		}
	}

	.pokedex-footer {
		margin-top: 1rem;
		background: #eee;
		padding: 0.5rem;
		border-top: 2px solid black;
		font-style: italic;
		font-size: 12px;
	}

	.back-button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background-color: white;
		color: black;
		border-bottom: 4px solid black;
		padding: 0.5rem 1rem;
		margin-bottom: 1rem;
		font-weight: bold;
		cursor: pointer;
		font-family: inherit;
		transition: background-color 0.3s ease;

		.icon {
			width: 16px;
			height: 16px;
			image-rendering: pixelated;
		}

		&:hover {
			background-color: #eee;
		}
	}
}